
.login-box{
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 450px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.login-box h1{
   color:white;
   display:flex;
   justify-content:center;
}

.login-box h3{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.login-box input{
    height:30px;
    width:440px;
    border-radius:5px;
    border:1px solid black;
}

.login-box button:active{
    background-color: black;
    color:white;
}

.login-box button{
    height:30px;
    width:450px;
    cursor: pointer;
    font-size: 15px;
}

.login{
    display: flex;
    justify-content: center;
}

.login input[type="checkbox"]{
    width:18px;
    height:18px;
}

.login label{
    padding-top:4px;
    padding-left:5px;
}

.login input[type="checkbox"]:hover{
    cursor: pointer;
}

.edit{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap:10px;
    padding:10px;
    border:1px solid white;
    border-radius: 5px;
}

.edit input{
    height:30px;
    width:420px;
    border-radius:5px;
    border:1px solid black;
}

.edit button{
    font-size:15px;
}

.edit h3{
    color:white
}
