.container2 {
  position:absolute;
  top:10px;
  left:50%;
  transform:translateX(-50%);
  margin:0px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 450px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.container2 h1,
label {
  color: white;
}

.container2 p {
  color: white;
}

.container2 pre {
  color: white;
}

body {
  background-image: none;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

.container2 h1{
  margin-top:50px;
}

.container2 img{
  width:200px;
  height:200px;
  margin-left:auto;
  margin-right:auto;
}

.box{
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  height:1000px;
  padding:50px;
  margin-top:250px;
}
