.contextMenu{
    width:100vw;
    height:100vh;
    background-color:#00000050;
    display:flex;
    justify-content:center;
    align-items:center;
}

@keyframes twinkle{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}

@keyframes fly{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-20px);
    }
    100%{
        transform:translateY(0px);
    }
    
}

.ball{
    width:50px;
    height:180px;
    animation:move 8s linear infinite;
}

@keyframes move{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-200px);
    }
    100%{
        transform:translateY(0);
    }
}

.contextMenu h1,h3{
    color:white;
}

.customMenu{
    width:200px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    border-radius:100px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(255,255,255);
}

.customMenu #katara{
    background-color: blue;
    margin-left:70px;
    margin-top:-10px;
}

.customMenu #yue{
    background-color: white;
    margin-top:20px;
    margin-left:20px;
}

.customMenu #toph{
    position: absolute;
    background-color: brown;
    margin-left:120px;
    margin-top:80px;
}

.customMenu button{
    margin:5px;
    font-size:15px;
    width:55px;
    height:55px;
    border-radius:100px;
    padding:5px;
}


